run = "uvicorn main:app --host 0.0.0.0 --port 80"
modules = ["nodejs-20", "python-3.10", "web", "nix"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "uvicorn main:app --host 0.0.0.0 --port 80"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 80
externalPort = 3000

[[ports]]
localPort = 8000
externalPort = 80
