body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to right, #ece9e6, #ffffff);
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
    font-weight: 700;
    color: #039be5;
    text-align: center;
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    background-color: #fbfcfd;
    color: #333;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.highlight {
    background-color: #e0f7fa;
    border-color: #039be5;
}

#drop-area .button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #039be5;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#drop-area .button:hover {
    background-color: #0288d1;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

#gallery {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gallery img {
    max-width: 150px;
    margin: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#gallery img:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

#progress {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

#response {
    margin-top: 20px;
    text-align: left;
    max-width: 100%;
    word-wrap: break-word;
}